.container {
  display: flex;
  padding: 0 0 70px 100px;
  overflow: hidden;
}

.title {
  margin: 0 0 32px 100px;

  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}
@media (max-width: 750px) {
  .container {
    display: flex;
    padding: 0 0 70px 0px;
    overflow: hidden;
  }
}
@media (max-width: 500px) {
  .container {
    padding: 0 15px 0px 15px;
  }

  .title {
    margin: 0 0 32px 0;

    text-align: center;
  }
}
