.button {
  min-width: 220px;
  min-height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;

  background: #269e9c;
  border-radius: 10px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}
