.input {
  height: 136px;
  width: 439px ;
  display: flex;
  align-items: center;
  padding: 18px 26px;

  background: #f6f6f6;
  border: 1px solid rgba(164, 229, 227, 0.2);
  box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3),
    -1px -1px 2px rgba(231, 231, 231, 0.5),
    inset -2px 2px 4px rgba(231, 231, 231, 0.2),
    inset 2px -2px 4px rgba(231, 231, 231, 0.2),
    inset -2px -2px 4px rgba(255, 255, 255, 0.9),
    inset 2px 2px 5px rgba(231, 231, 231, 0.9);
  border-radius: 10px;

  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #7b7b7b;
  resize: none;

  outline: none;
}
