.categories-list {
  width: 430px;
  flex-shrink: 0;

  border-right: 1px solid #c4c4c4;
}

.category {
  font-weight: 500;
  font-size: 15px;
  line-height: 23px;
  cursor: pointer;

  &:hover {
    color: #269e9c;
    text-shadow: 2px 2px 14px rgba(38, 158, 156, 0.3);
  }

  &:not(:last-of-type) {
    margin-bottom: 15px;
  }
}

@media (max-width: 1060px) {
  .categories-list {
    border: none;
  }
}

@media (max-width: 500px) {
  .categories-list {
    width: 300px;
  }
}
