.title {
  margin: 0 0 32px 100px;

  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.thead {
  display: grid;
  align-items: center;
  justify-content: space-between;
  grid-template-columns: 129px 416px 45px 117px 66px;
  padding: 0 100px 0 40px;
  margin: 30px 0 16px 0;

  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #7b7b7b;

  &:first-child {
    width: 129px;
    height: 129px;
  }

  div {
    text-align: right;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #7b7b7b;
  }
}

.products {
  display: flex;
  flex-direction: column;
}

@media (max-width: 1180px) {
  .thead {
    display: none;
  }
}
